*{
    padding : 0 ;
    margin: 0 ;
    box-sizing: border-box;
}
body{
    background-color: slategray;
}
h1{
    background-color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align : center ;
}
#container{
    display : grid ;
    grid-template-rows: repeat(10 , 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap : 20px ;
}
.card{
    background:linear-gradient(to right , pink , orange) ;
    border : 1px solid #91de49c2 ;
    border-radius: 5px;
    padding : 15px ;
    margin:2px ; 
}
h4{
    font-family: 'Times New Roman', Times, serif;
    text-align : center ;
    font-style: italic;
}